@model WebApplication1.Models.Customer


<h2>Müşteri Güncelleştirme Sayfası</h2>

<form method="post" class="form-group">

	<div>
		<label>Müşteri Ad</label>
		@Html.TextBoxFor(x => x.customerName, new { @class = "form-control", @required="" })
	</div><br />
	<div>
		<label>Müşteri Soyad</label>
		@Html.TextBoxFor(x => x.customerSurname, new { @class = "form-control", @required = "" })
	</div><br />
	<div>
		<label>Yaş</label>
		@Html.TextBoxFor(x => x.customerAge, new { @class = "form-control", @required = "" })
	</div><br />
	<div>
		<label>Cinsiyet</label>
		@Html.TextBoxFor(x => x.customerGender, new { @class = "form-control", @required = "" })
	</div><br />
	<div>
		<label>Adres</label>
		@Html.TextBoxFor(x => x.customerAdress, new { @class = "form-control", @required = "" })
	</div>
	<br />
	<div>
		<button class="btn btn-warning">Güncelle</button>
	</div>
	<div class="invisible">
		@Html.TextBoxFor(x => x.customerID, new { @class = "form-control" })
	</div>

</form>