@using WebApplication1.Models
@model List<Customer>


<h2>Müşterilerin Detaylı Bilgieri</h2>


<div>
	<table class="table table-bordered ">
		<thead>
		<tr>
			<th scope="col">Müşteri Sıra No</th>
			<th scope="col">Müsteri ID</th>
			<th scope="col">Müşteri Ad</th>
			<th scope="col">Müşteri Soyad</th>
			<th scope="col">Yaş</th>
			<th scope="col">Cinsiyet</th>
			<th scope="col">Adres</th>
		</tr>
		</thead>
		<tbody>

		@{ int sirano = 0;}

		@foreach (var x in Model)
		{
			sirano++;
			<tr>
				<th>@sirano</th>
				<th>@x.customerID</th>
				<td>@x.customerName</td>
				<td>@x.customerSurname</td>
				<td>@x.customerAge</td>
				<td>@x.customerGender</td>
				<td>@x.customerAdress</td>
			</tr>
		}

		</tbody>

	</table>
</div>